
body {
  padding: 0;
  margin: 0;
  background: white;
}

/*--- navigation bar ---*/
.navbar {
  background: white;
  padding-bottom: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  margin-bottom: 6px;
  color: skyblue;
}
.logo-image{
  width: 200px;
  height: 70px;
  /* border-radius: 50%; */
  overflow: hidden;
  margin-top: -15px;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: white;
}
.navbar-collapse {
  justify-content: flex-end;
}

  /* The dropdown container */
.nav-item {
  float: left;
  overflow: hidden;
}  
/* Dropdown button */
.nav-item .nav-link {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
/* Dropdown content (hidden by default) */
.navbarDropdown {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 50px;
}
/* Links inside the dropdown */
.nav-item a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.nav-item a:hover {
  background-color: white;
}

/* Show the dropdown menu on hover */
.nav-item:hover .navbarDropdown {
  display: block;
}

body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/boy\ reading.jpg");

/* Set a specific height */
height: 100%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.hero-text {
text-align: left;
position: absolute;
top: 50%;
left: 40%;
transform: translate(-50%, -50%);
color: white;
}

/* avatar container */
.container-heading {
  text-align: center;
  color: skyblue;
  top: 50%;
}
.container {
text-align: center;
}



  .jumbotron {
    margin-bottom: 0px;
    margin-top: 0px;
    /* padding: 0px  0px; */
    padding-bottom: 0pt;
    padding-top: 150px;
    background-image: url(../images/students-in-class.jpg);
    height: 500px;
    width: 1250px;
    text-align: left;
    color: skyblue;
  }

  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .who {
    color: skyblue;
    text-align: center;
  }
  
  /* Container holding the image and the text */
.paper {
  position: relative;
  text-align: center;
  color: white;
  
}

/* Bottom left text */
.top-right {
  position: absolute;
  top: 300px;
  right: 16px;
  font-size: 230%;
}
  
  /* .btn {
    justify-content: center;
  } */
/* .row {
  margin-bottom: 0px;
   padding: 60px 0 30px;
} */
 .page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
  position: relative; 
  text-align: center
 }
.footermenu{
  text-align: left;
}

.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

 
/* #facebook {
  size: 5%; */
/* } */
 /* .container {
  position: absolute;
  text-align: center;
  color: rgb(90, 38, 38);
  width: 50%;
  height: 50%;
}  */

